<% include partials/header.ejs %>
<div class="jumbotron" style="margin-top: -60px;">
    <div class="container">
      <h1 class="display-3">Welcome to LetsChat</h1>
      <h3 class="display-4">Feed Page</h3>
    </div>
</div>
<div class="container">
    <div class="col-md-9">
        <% post.forEach((posts) => { %>
        <div class="thumbnail">
            <a href = "/post/<%= posts._id %>"><img class="img-responsive" src="<%- posts.image %>"></a>
            <div class="caption-full">
                <h4 class="pull-right"><%= moment(posts.created).fromNow() %></h4>
                <h2><a><%-posts.caption%></a></h2>
                <p>
                    By <%= posts.profile.name %> <em> @ <%= posts.profile.username %> </em>
                </p>
                <a><i class="heart icon"></i></a>
                <a class="reply" href = "/post/<%= posts._id %>"><i class="comments icon"></i>View Comment</a>
            </div>
            <hr class="mb-4">
            <hr class="mb-4">
        </div>
        <% }); %>
    </div>
</div>

<% include partials/footer.ejs %>
