<% include partials/header.ejs %>
<div class="pusher">
    <div class="ui inverted vertical masthead center aligned segment">
        <div class="ui feed">
            <div class="ui text container">
                <h1 class="ui inverted header">
                    Welcome to LetsChat
                </h1>
            </div>
        </div>
    </div>
</div>
<div class="ui main text container">
    <div class="ui top attached segment">
            <% post.forEach((posts) => { %>
                <div class="item">
                    <div class="image">
                        <a href = "/post/<%= posts._id %>"><img src =" <%= posts.image %>"></a>
                    </div>
                    <div class="content">
                        <a class="header"><%= posts.profile.username %></a><br>
                        <a class="header"><%- posts.caption %></a>
                        <div class="meta">
                            <span class="cinema"><%= posts.created.toDateString() %></span>
                        </div>
                    </div>
                </div>
            <% }); %>
    </div>
</div>
<% include partials/footer.ejs %>
