<% include partials/header.ejs %>
<style>
    .btn{
        border:0px solid transparent;
    }
</style>
<div class="jumbotron">
    <div class="container">
      <h1 class="display-3"><i class="paper plane icon"></i> Welcome to LetsChat</h1>
      <h3 class="display-4"><i class="camera retro icon"></i>Feed Page</h3>
    </div>
</div>
<div class="container">
    <div class="col-md-9">
        <% post.forEach((posts) => { %>
        <div class="thumbnail">
            <a href = "/post/<%= posts._id %>"><img class="img-responsive" src="<%- posts.image %>"></a>
            <div class="caption-full">
                <h4 class="pull-right"><%= moment(posts.created).fromNow() %></h4>
                <h2><a><%-posts.caption%></a></h2>
                <p>
                    By<a href = "user/<%= posts.profile.id%>"> <%= posts.profile.name %> <em> @ <%= posts.profile.username %> </em></a>
                </p>
                <form id="myForm" class="ui form" action="/post/<%= posts._id %>/likes/"method="POST">
                    <button class="btn btn-outline-primary"><i class="heart icon"></i><%=posts.like.length%></button>
                    <a class="reply" href = "/post/<%= posts._id %>"><i class="comments icon"></i></a>
                </form>
            </div>
            <hr class="mb-4">
            <hr class="mb-4">
        </div>
        <% }); %>
    </div>
</div>
<% include partials/footer.ejs %>
