<% include partials/header.ejs %>

<style>body{
    margin-top:70px;
      }
.btn{
        border:0px solid transparent;
    }
</style>
<div class="container">
   <div class="row">
      <div class="col-lg-4">
         <div class="profile-card-4 z-depth-3">
            <div class="card">
               <div class="card-body text-center bg-dark rounded-top">
                  <div class="user-box">
                     <% if(!user.image & user.gender === "Male"){ %>
                        <img src="https://cdn0.iconfinder.com/data/icons/user-pictures/100/malecostume-512.png" alt="user avatar">
                     <% } else if(!user.image && user.gender === "Female"){ %>
                        <img src="https://i1.wp.com/nofiredrills.com/wp-content/uploads/2016/10/myavatar.png?fit=400%2C400&ssl=1" alt="user avatar">
                     <% } else if(!user.image){ %>
                        <img src="http://icons.iconarchive.com/icons/iconsmind/outline/512/Add-User-icon.png" alt="user avatar">
                     <% } else { %>
                        <img src="<%=user.image%>" alt="user avatar">
                     <% } %>
                  </div>
                  <h5 class="mb-1 text-white"><a href="/user/<%= user._id %>/edit">Add/edit profile pic</a></h5>
                  <h5 class="mb-1 text-white"><%=user.name%></h5>
                  <h6 class="text-light"><%=user.gender%></h6>
               </div>
               <div class="card-body">
                  <ul class="list-group shadow-none">
                     <li class="list-group-item">
                        <div class="list-details">
                           <span>Bio: <%=user.about%></span>
                        </div>
                     </li>
                     <li class="list-group-item">
                        <div class="list-details">
                           <span><i class="briefcase icon"></i>Work at <%=user.work%></span>
                        </div>
                     </li> 
                     <li class="list-group-item">
                        <div class="list-details">
                           <span><i class="phone icon"></i> <%=user.contactno%></span>
                        </div>
                     </li>
                     <li class="list-group-item">
                        <div class="list-details">
                           <span><i class="fa fa-envelope"></i> <%=user.email%></span>
                        </div>
                     </li>
                     <li class="list-group-item">
                        <div class="list-details">
                           <span><i class="globe icon"></i> <%=user.website%></span>
                        </div>
                     </li>
                     <li class="list-group-item">
                        <div class="list-details">
                           <span><i class="map marker alternate icon"></i>Lives in <%=user.address%></span>
                        </div>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
      <div class="col-lg-8">
         <div class="card z-depth-3">
            <div class="card-body">
               <ul class="nav nav-pills nav-pills-primary nav-justified">
                  <li class="nav-item">
                     <a href="javascript:void();" data-target="#profile" data-toggle="pill" class="nav-link active show"><i class="icon-user"></i> <span class="hidden-xs">TIMELINE</span></a>
                  </li>
                  <% if(currentU && user._id.equals(currentU._id)){ %>
                  <li class="nav-item">
                     <a href="/user/<%= user._id %>/edit" class="nav-link"><i class="icon-note"></i> <span class="hidden-xs">Edit Profile</span></a>
                  </li>
                  <% } %>
               </ul>
               <div class="tab-content p-3">
                  <div class="tab-pane active show" id="profile">
                     <h5 class="mb-3">Posts</h5>
                     <div class="row">
                        <div class="col-md-12">
                        <% post.forEach((posts) => { %>
                           <div class="thumbnail">
                              <a href = "/post/<%= posts._id %>"><img class="img-responsive" src="<%- posts.image %>"></a>
                              <div class="caption-full">
                                  <h4 class="pull-right"><%= moment(posts.created).fromNow() %></h4>
                                  <h2><a><%-posts.caption%></a></h2>
                                  <form class="ui form" action="/post/<%= posts._id %>/likes/"method="POST">
                                      <button id="lbt" class="btn btn-outline-primary" ng-click="levelL()"><i class="heart icon"></i><%=posts.like.length%></button>
                                      <a class="reply" href = "/post/<%= posts._id %>"><i class="comments icon"></i><%=posts.comments.length%></a>
                                  </form>
                              </div>
                              <hr class="mb-4">
                              <hr class="mb-4">
                           </div>
                        <% }); %>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<% include partials/footer.ejs %>