<% include partials/header.ejs %>

<style>body{
    margin-top:70px;
}</style>
<div class="container">
   <div class="row">
      <div class="col-lg-4">
         <div class="profile-card-4 z-depth-3">
            <div class="card">
               <div class="card-body text-center bg-dark rounded-top">
                  <div class="user-box">
                     <img src="<%=user.pic%>" alt="user avatar">
                  </div>
                  <h5 class="mb-1 text-white"><%=user.name%></h5>
                  <h6 class="text-light"><%=user.gender%></h6>
                  <h6 class="text-light"><%=user.about%></h6>
               </div>
               <div class="card-body">
                  <ul class="list-group shadow-none">
                     <li class="list-group-item">
                        <div class="list-icon">
                           <i class="fa fa-phone-square"></i>
                        </div>
                        <div class="list-details">
                           <span><%=user.contactno%></span>
                        </div>
                     </li>
                     <li class="list-group-item">
                        <div class="list-icon">
                           <i class="fa fa-envelope"></i>
                        </div>
                        <div class="list-details">
                           <span><%=user.email%></span>
                        </div>
                     </li>
                     <li class="list-group-item">
                        <div class="list-icon">
                           <i class="fa fa-globe"></i>
                        </div>
                        <div class="list-details">
                           <span><%=user.website%></span>
                        </div>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
      <div class="col-lg-8">
         <div class="card z-depth-3">
            <div class="card-body">
               <ul class="nav nav-pills nav-pills-primary nav-justified">
                  <li class="nav-item">
                     <a href="javascript:void();" data-target="#profile" data-toggle="pill" class="nav-link active show"><i class="icon-user"></i> <span class="hidden-xs">TIMELINE</span></a>
                  </li>
                  <li class="nav-item">
                     <a href="javascript:void();" data-target="#edit" data-toggle="pill" class="nav-link"><i class="icon-note"></i> <span class="hidden-xs">Edit Profile</span></a>
                  </li>
               </ul>
               <div class="tab-content p-3">
                  <div class="tab-pane active show" id="profile">
                     <h5 class="mb-3">Posts</h5>
                     <div class="row">
                        <div class="col-md-12">
                        <% post.forEach((posts) => { %>
                           <div class="thumbnail">
                              <a href = "/post/<%= posts._id %>"><img class="img-responsive" src="<%- posts.image %>"></a>
                              <div class="caption-full">
                                  <h4 class="pull-right"><%= moment(posts.created).fromNow() %></h4>
                                  <h2><a><%-posts.caption%></a></h2>
                                  <a><i class="heart icon"></i></a>
                                  <a class="reply" href = "/post/<%= posts._id %>"><i class="comments icon"></i>View Comment</a>
                              </div>
                              <hr class="mb-4">
                              <hr class="mb-4">
                           </div>
                        <% }); %>
                        </div>
                     </div>
                  </div>

                  <div class="tab-pane" id="edit">
                     <form>
                        <div class="form-group row">
                           <label class="col-lg-3 col-form-label form-control-label">Full name</label>
                           <div class="col-lg-9">
                              <input class="form-control" type="text" value="Full Name">
                           </div>
                        </div>
                        <div class="form-group row">
                           <label class="col-lg-3 col-form-label form-control-label">About Me</label>
                           <div class="col-lg-9">
                              <input class="form-control" type="text" value="About Me">
                           </div>
                        </div>
                        <div class="form-group row">
                           <label class="col-lg-3 col-form-label form-control-label">Gender</label>
                           <div class="col-lg-5">
                              <select class="custom-select d-block w-100" id="country" required>
                                 <option>Male</option>
                                 <option>Female</option>
                              </select>
                           </div>
                        </div>
                        <div class="form-group row">
                           <label class="col-lg-3 col-form-label form-control-label">Email</label>
                           <div class="col-lg-9">
                              <input class="form-control" type="email" value="letschat@garg.com">
                           </div>
                        </div>
                        <div class="form-group row">
                           <label class="col-lg-3 col-form-label form-control-label">Change profile Image</label>
                           <div class="col-lg-9">
                              <input class="form-control" type="text" value="url">
                           </div>
                        </div>
                        <div class="form-group row">
                           <label class="col-lg-3 col-form-label form-control-label">Website</label>
                           <div class="col-lg-9">
                              <input class="form-control" type="url" value="">
                           </div>
                        </div>
                        <div class="form-group row">
                           <label class="col-lg-3 col-form-label form-control-label">Address</label>
                           <div class="col-lg-9">
                              <input class="form-control" type="text" value="" placeholder="Street">
                           </div>
                        </div>
                        <div class="form-group row">
                           <label class="col-lg-3 col-form-label form-control-label"></label>
                           <div class="col-lg-6">
                              <input class="form-control" type="text" value="" placeholder="City">
                           </div>
                           <div class="col-lg-3">
                              <input class="form-control" type="text" value="" placeholder="State">
                           </div>
                        </div>
                        <div class="form-group row">
                           <label class="col-lg-3 col-form-label form-control-label"></label>
                           <div class="col-lg-9">
                              <input type="reset" class="btn btn-secondary" value="Cancel">
                              <input type="button" class="btn btn-primary" value="Save Changes">
                           </div>
                        </div>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>