<% include partials/header.ejs %>
<div>
    <p class="font-italic"> <%= post.created %> </p>
</div>
<img src =" <%= post.image %>" class="img-fluid">
<div class="caption">
    <h4> <%- post.caption %> </h4>
</div>
<form action='/post/<%= post._id %>?_method=DELETE' method='POST'>
    <button>Delete!!</button>
</form>
<a href = "/post/<%= post._id %>/edit">edit</a>
<% include partials/footer.ejs %>