<% include partials/header.ejs %>

<div class="container">
  <div class="col-md-9">
    <div class="thumbnail">
      <img class="img-responsive" src="<%= post.image %>">
      <div class="caption-full">
      <h4 class="pull-right"><%= moment(post.created).fromNow() %></h4>
      <h4><a><%-post.caption%></a></h4>
      <p>
        By <a href = "../user/<%= post.profile.id%>"><%= post.profile.name %><em> @ <%= post.profile.username %></em></a>
      </p>
      <% if(currentuser && post.profile.id.equals(currentuser._id)){ %>
        <a href="/post/<%= post._id %>/edit" class="btn btn-xs btn-info">EDIT</a>
        <form id="delete-form" action="/post/<%= post._id %>?_method=DELETE" method="POST">
          <button class="btn btn-xs btn-danger"><i class="trash alternate icon"></i>Delete</button>
        </form>
      <% } %> 
      </div>
    </div>
    <div class="well">
      <div class="text-right">
          <form id="myForm" class="ui form" action="/post/<%= post._id %>/likes/"method="POST">
            <button class="btn btn-outline-primary"><i class="heart icon"></i><%= post.like.length %></button>
            <a class="btn btn-default" href = "/post/<%= post._id %>/like">View Likes</a>
            <a class="btn btn-default" href = "/post/<%= post._id %>/comments/create"><i class="comment icon"></i> Add New Comment</a>
          </form>
      </div>
      <hr>
      <% if (post.comments.length === 0) { %>
        <em style="color: grey;">No comments yet. Write something....</em>
      <% } %>
      <% post.comments.forEach((comment) => { %>
        <div class="row">
          <div class="col-md-12">
            <strong> <a href = "../user/<%= comment.profile.id%>"><%= comment.profile.name %><em> @ <%= comment.profile.username %> </em></a> </strong>
            <span class="pull-right"><%= moment(comment.created).fromNow() %></span>
              <div>
                <%= comment.text %>
                <% if(currentuser && comment.profile.id.equals(currentuser._id)){ %>
                <form style="display: inline" class="pull-right" action="/post/<%= post._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                  <button class="btn btn-xs btn-danger"><i class="trash alternate icon"></i>DELETE</button>
                  <a href="/post/<%= post._id %>/comments/<%= comment._id %>/edit" class="btn btn-xs btn-info">EDIT</a>
                </form>
                <% } %>
              </div>
            </div>
          </div>
          <hr>
      <% }); %>
    </div>
  </div>
</div>

<% include partials/footer.ejs %>