<% include partials/header.ejs %>
<div class="ui feed">
<img src =" <%= post.image %>">
<div><a class="header"><%= post.profile.username %></a><br>
</div>
<div>
    <h4><a><%=post.caption%></a></h4>
</div>
<div>
    <p> <%= post.created %> </p>
</div>
<p><a href = "/post/<%= post._id %>/comments/create"><i class="comment icon"></i> Add New Comment</a></p>
<div class="ui main text container">
    <div class="ui top attached segment">
            <% post.comments.forEach((comment) => { %>
                <div class="item">
                    <div class="content">
                        <a class="header"><%= comment.profile.username %></a>
                        <a class="item"><%= comment.created.toDateString() %></a><br>
                        <a class="header"><%= comment.text %></a>
                    </div>
                </div>
            <% }); %>
    </div>
</div>
<% if(currentuser && post.profile.id.equals(currentuser._id)){ %>
<form action='/post/<%= post._id %>?_method=DELETE' method='POST'>
    <button class="ui red basic button"><i class="trash alternate icon"></i> Delete</button>
</form>
<a href = "/post/<%= post._id %>/edit"><i class="edit icon"></i> Edit</a>
<% } %>
<% include partials/footer.ejs %>