<% include partials/header.ejs %>
<!--Sign Up FORM-->
<div class="container">
  <div class="py-5 text-center">
    <i class="add user icon"></i>
    <h2>Update Profile</h2>
  </div>
  <hr class="mb-4">
  <div class="row">
    <div class="col-md-12">
      <h4 class="mb-3 text-center">Account Info</h4>
      <hr class="mb-4">
      <form class="needs-validation"  action="/user/<%= user._id %>?_method=PUT" method="POST" novalidate>
        <div class="form-row">
          <div class="col-md-6 mb-3">
            <label for="firstName"><i class="user icon"></i>Full Name</label>
            <input class="form-control" type="text" name="User[name]" value="<%= user.name %>" autocomplete="off" required />
            <div class="invalid-feedback">
              Valid Name is required.
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="firstName"><i class="user icon"></i>Gender(Male/Female)</label>
            <input class="form-control" type="text" name="User[gender]" value="<%= user.gender %>" autocomplete="off" />
            <div class="invalid-feedback">
              Enter your Gender
            </div>
          </div> 
        </div>
        <div class="form-row">
          <div class="col-md-6 mb-3">
            <label for="firstName"><i class="pencil alternate icon"></i>Bio: </label>
            <input class="form-control" type="text" name="User[about]" value="<%= user.about %>" autocomplete="off" required />
            <div class="invalid-feedback">
              Please Enter Your Bio
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="firstName"><i class="briefcase icon"></i>Work At</label>
            <input class="form-control" type="text" name="User[work]" value="<%= user.work %>" autocomplete="off" />
            <div class="invalid-feedback">
              Add where you work at
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-6 mb-3">
            <label for="firstName"><i class="file image icon"></i>Profile Pic</label>
            <input class="form-control" type="text" name="User[image]" value="<%= user.pic %>" autocomplete="off" />
            <div class="invalid-feedback">
              Please Provide Valid Pic url
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="firstName"><i class="phone icon"></i>Contact Number</label>
            <input class="form-control" type="text" name="User[contactno]" value="<%= user.contactno %>" autocomplete="off" />
            <div class="invalid-feedback">
              Please Enter Valid contact Number
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-6 mb-3">
            <label for="firstName"><i class="globe icon"></i>Website</label>
            <input class="form-control" type="text" name="User[website]" value="<%= user.website %>" autocomplete="off" />
            <div class="invalid-feedback">
              Please Enter Valid Website
            </div>
          </div> 
          <div class="col-md-6 mb-3">
            <label for="firstName"><i class="map marker alternate icon"></i>Location</label>
            <input class="form-control" type="text" name="User[address]" value="<%= user.address %>" autocomplete="off" />
            <div class="invalid-feedback">
              Please Provide valid Address
            </div>
          </div>
        </div>
        <hr class="mb-4">
        <button class="btn btn-primary btn-lg btn-block" type="submit">Update Profile!</button>
      </form>
    </div>
  </div>
  
<!--Form Validation  -->
<script>
(function () {
  'use strict'

  window.addEventListener('load', function () {
    var forms = document.getElementsByClassName('needs-validation')
    Array.prototype.filter.call(forms, function (form) {
      form.addEventListener('submit', function (event) {
        if (form.checkValidity() === false) {
          event.preventDefault()
          event.stopPropagation()
        }
        form.classList.add('was-validated')
      }, false)
    })
  }, false)
}())
</script>
<% include partials/footer.ejs %>